importance_trace.out
module_deps.txt
out.krg
resolved_symbol_addresses.txt
tmp/

matrix_bench/benchmark_first_touch
matrix_bench/benchmark_ftrace
matrix_bench/benchmark_pmc
matrix_bench/first_touch_results.csv
matrix_bench/ftrace_*.log
matrix_bench/pmc_*.txt
matrix_bench/pmc_results.csv
matrix_bench/pmc_logs/

so/.*.cmd
so/.*.d
so/*.o
so/*.ko
so/*.mod
so/*.mod.c
so/Module.symvers
so/modules.order
so/clone_xxh32_user.o
so/libclone_xxh32.so
